.section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-top: 20vh;
  position: relative;
}

.img{
  width: 140px;
  height: 140px;
}
.title{
  text-align: center;
}
article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}